/* Responsive text sizes for different screen sizes */
/* Small screens (e.g., mobile devices) */
@media (max-width: 576px) {
    .text-xs {
      font-size: 0.875rem;
      /* 14px / 16px = 0.875rem */
    }
  
    .flex-reverse-m {
      display: flex;
      flex-direction: row-reverse;
      gap: 1rem;
    }
  
    .submenu:hover .submenu-content {
      display: none;
    }
  
    .justify-endm-m{
      justify-content: flex-start;
    }
  }
  
  /* Medium screens (e.g., tablets) */
  @media (min-width: 577px) and (max-width: 992px) {
    .text-sm {
      font-size: 1rem;
      /* 16px / 16px = 1rem */
    }
  
    .flex-reverse-m {
      display: flex;
      flex-direction: row-reverse;
      gap: 1rem;
    }
  
    .flex-reverse-col-m{
      flex-direction: column-reverse;
    }
  
    .submenu:hover .submenu-content {
      display: none;
    }
  }
  
  /* Large screens (e.g., desktops) */
  @media (min-width: 993px) and (max-width: 1200px) {
    .text-md {
      font-size: 1.125rem;
      /* 18px / 16px = 1.125rem */
    }
  
  }
  
  /* Extra-large screens */
  @media (min-width: 1201px) {
    .text-lg {
      font-size: 1.25rem;
      /* 20px / 16px = 1.25rem */
    }
  }

  /* Media query for smaller screens */
@media (max-width: 768px) {

    .flex-reverse-col-m{
      flex-direction: column-reverse;
    }
  
    .submenu:hover .submenu-content {
      display: none;
    }
  
    .menu-button {
      display: block;
    }
  
    .menu-list {
      position: fixed;
      top: 0;
      left: -100%;
      width: calc(80px + 3rem);
      height: 100%;
      background-color: var(--white-secondary);
      z-index: 1000;
      overflow-y: auto;
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      transition: left 0.3s ease;
    }
  
  .menu-button.clicked{
    color: var(--orange-primary);
  }
    .menu-button.clicked+.menu-list {
      left: 0;
      top: 0;
    }
  
    /* Style for menu items */
    .menu-list ul {
      padding-left: 0;
    }
  
    .menu-list ul li,
    .menu-list ul {
      list-style: none;
      margin: 10px 0;
      /* text-decoration: none; */
    }
  }
  